<div class="row">
  <div class="col-md-4">
    <%= simple_form_for([@album, @picture]) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :asset, as: :file %>
        <% if f.object.asset? %>
    	    <div class="control-group">
    	    	<label class="control-label">Current asset</label>
    	    	<div class="controls">
    	      		<%= image_tag f.object.asset.url(:small)%>
    	      	</div>
    	     </div>
        <% end %>
        <%= f.input :caption %>
        <%= f.input :description %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, class: "btn btn-success" %>
      </div>
    <% end %>
  </div>
</div>
